body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: blue;
    position: relative;
}

img{
    height: 50vh;
    max-width: 80vw;
    object-fit: contain;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#left{
    left: 0;
    /* bottom: 10vh; */
}

#right{
    cursor: pointer;
    /* bottom: 10vh; */
}

.static{
    right: 0;
    transform: none;
}